html {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(https://img.freepik.com/fotos-premium/fundo-desfocado-escuro-abstrato-textura-suave-gradiente-cor-brilhante-brilhante-padrao-de-site-banner-h_1258-85518.jpg);
    background-size: 2000px;
}

body {
    margin-top: 150px;
    color: white;
    border-color: #00305c;
    border-width: 15px;
    border-style: solid;
    padding: 100px;
    background-color: transparent;
    margin-top: 30px;
    line-height: 1.6;
    backdrop-filter: blur(10px);
    border-radius: 20px;
}



